.background-1 {
	border: 1px solid black;
	height: 120px;
	width: 150px;
	background: url(../image/image-1.jpeg);
	background-repeat: no-repeat;
	background-size: contain;
}
.background-2 {
	border: 1px solid black;
	height: 120px;
	width: 150px;
	background: url(../image/image-1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.background-3 {
	border: 1px solid black;
	height: 120px;
	width: 150px;
	background: url(../image/image-1.jpeg);
	background-repeat: no-repeat;
}
