.p-1 {
    background-color:rgba(255,0,0,0.3);
}
.p-2 {
    background-color:rgba(0,255,0,0.3);
}
.p-3 {
    background-color:rgba(0,0,255,0.3);
}
.p-4 {
    background-color:rgba(192,192,192,0.3);
}

.p-1-opacity {
    background-color:rgba(255,0,0,0.3);
    opacity:0.6;
}
.p-2-opacity {
    background-color:rgba(0,255,0,0.3);
    opacity:0.6;
}
.p-3-opacity {
    background-color:rgba(0,0,255,0.3);
    opacity:0.6;
}
.p-4-opacity {
    background-color:rgba(192,192,192,0.3);
    opacity:0.6;
}