.gradient-1 {
	height: 200px;
    width: 200px;
	background-color: red;
	background-image: linear-gradient(red, yellow);
}
.gradient-2 {
	height: 200px;
    width: 200px;
	background-color: red;
	background-image: radial-gradient(red, yellow, green);
}
.gradient-3 {
	height: 200px;
    width: 200px;
	background-color: red;
	background-image: conic-gradient(red, yellow, green);
}
