.rounded-1 {
	border-radius: 25px;
	background: #73ad21;
	padding: 20px;
	width: 200px;
	height: 150px;
    margin-bottom: 20px;
}
.rounded-2 {
	border-radius: 25px;
	border: 2px solid #73ad21;
	padding: 20px;
	width: 200px;
	height: 150px;
}
