.shadow-1 {
	text-shadow: 2px 2px;
}
.shadow-2 {
	text-shadow: 2px 2px red;
}
.shadow-3 {
	text-shadow: 2px 2px 5px red;
}

.box-shadow {
	width: 300px;
	height: 100px;
	padding: 15px;
	background-color: coral;
	box-shadow: 10px 10px;
}
