* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
}

header {
	background-color: #6499e9;
	padding: 20px;
	text-align: center;
}

.section-main {
	display: flex;
	padding-block: 40px;
	gap: 32px;
}

.list-practice {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.list-practice > .nav-link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px;
    background-color: #9EDDFF;
    margin: -1px;
}

.list-practice > .nav-link:hover {
    background-color: #A6F6FF;
}

.description {
	width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description > .desc {
    text-align: justify;
}

.profile {
	width: 30%;
}

.profile > .subtext-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.image-profile {
	max-width: 300px;
	width: 100%;
}
